Now Showing: <br> <hr>
<p>
<h2><%= @user.username %></h2> <br>
<h5><%= @user.email %></h5>
</p>
<hr>
<h3><u>FOODS:</u><h3>
  <ul id="food_list">
    <% if @user.foods.any? %>
      <% @user.foods.each do |food| %>
        <li>
          <%= link_to '[x]', user_food_path(@user, food),  method: 'delete' %> <%= food.name %> (<%= food.calories %> calories)
        </li>
      <% end %>
    <% end %>
  </ul>
  Total Calories: <div id="calorie_count"><%= @user.calories_total %></div>
  <%= link_to "Add Food", new_user_food_path(@user), id:'add_food_link', remote: true %>
